*,
*::before,
*::after {
    box-sizing: border-box;
    //outline: 1px solid red;
}


$main-color: #3F5D45;

.wrap {
    width: 940px;
    margin: 0 auto;
}

.header {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-logo {
    a {
        display: block;
    }

    img {
        display: block;
        width: 220px;
        height: 40px;
    }
}

.header-nav {
    display: flex;
    justify-content: space-between;
    margin-right: 104px-25;
    width: 215px+50;

    a {
        display: block;
        padding: 10px 25px;
        border-radius: 1em;
        text-decoration: none;
        color: $main-color;
        font-size: 16px;
        font-weight: 600;
        font-family: PingFang TC;
        text-align: center;
        line-height: 20px;

        &:hover {
            background-color: #EAF0ED;
        }
    }
}

a.shopping-cart {
    position: absolute;
    top: 9px;
    right: 0;
    display: block;
}

img.shopping-cart {
    display: block;
    width: 24px;
    height: 24px;
}

a.banner {
    display: block;
    margin-bottom: 60px;
}

img.banner {
    display: block;
    width: 940px;
    height: 496px;
}

.main {}

.aside {
    width: 300px;
    margin-right: 20px;

}

.category-title {
    background-color: $main-color;
    color: #EAF0ED;
    font-weight: 600;
    font-size: 24px;
    font-family: PingFang TC;
    text-align: center;
    line-height: 65px;
}

.category-list {
    display: flex;
    flex-direction: column;
}

.category-list__item {
    a {
        display: block;
        font-weight: 600;
        font-size: 24px;
        font-family: PingFang TC;
        color: $main-color;
        text-align: center;
        line-height: 33px;
        text-decoration: none;
        border: 1px solid #EAF0ED;
        padding: 15px 64px;
    }

    &:first-child {
        background: #EAF0ED 0% 0% no-repeat padding-box;
    }
}